<a href="https://colab.research.google.com/github/KimHyungkeun/DE_Starterkit_Programmers/blob/week2_hw/week2_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 제출 코드
# sessionid를 join조건으로 사용하여 inner join 한 후에, timestamp를 월별로 정리한다.
# 월별로 나타난 user 종류를 중복없이 고유하게 분류한 후에(distinct), 월별로 나타난 user수를 모두 집계한다(count) 
%%sql

SELECT ts, COUNT(DISTINCT userid)
FROM (
SELECT userid, to_char(ts, 'YYYY-MM') as ts
FROM raw_data.user_session_channel JOIN raw_data.session_timestamp USING(sessionid)
) 
group by ts
order by ts;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]